In [2]:
"""What is 7 to the power of 4?"""

'What is 7 to the power of 4?'

In [3]:
7**4

2401

In [4]:
''' Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **'''

' Given the variables:**\n\nplanet = "Earth"\ndiameter = 12742\n** Use .format() to print the following string: **'

In [6]:
planet = "Earth"
diameter = 12742

In [7]:
'The diameter {} is {} kilometers'.format(planet,diameter)

'The diameter Earth is 12742 kilometers'

In [8]:
"""
Given this nested list, use indexing to grab the word "hello" **
"""

'\nGiven this nested list, use indexing to grab the word "hello" **\n'

In [10]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
lst[3][1][2]

['hello']

In [14]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [18]:
"""
** Create a function that grabs the email website domain from a string in the form: **
"""

'\n** Create a function that grabs the email website domain from a string in the form: **\n'

In [21]:
def grab_fun(email):
    return (email.split('@')[-1])

In [25]:
grab_fun('gauraoc@gmail.com')

'gmail.com'

In [26]:
"""
** Create a basic function that returns True if the word 'dog' is contained in the input string. 
Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **
"""

"\n** Create a basic function that returns True if the word 'dog' is contained in the input string. \nDon't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **\n"

In [27]:
def count_dog(s):
    count=0
    for v in s.lower().split():
        if v=='dog':
            count +=1
    return count

In [29]:
count_dog("this Dog is better than this dog")

2

In [30]:
"""
** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'.
"""

"\n** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'.\n"

In [40]:
seq = ['soup','dog','salad','cat','great']

In [45]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [46]:
lst1=lambda x:x[0]!='s'

In [47]:
lst1

In [50]:
list(filter(lst1,seq))

TypeError: 'filter' object is not subscriptable

In [2]:
'''
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19
'''

'\nWrite a python function to find and display the five \ndigit number in which the first digit is two more than \nthe second,the second digit is two more than the third,\nthe fourth digit is two less than the third, and the \nlast digit is two more than\nthe fourth.The sum of the third,fourth and fifth digits\nequals the first.The sum of all the digits is 19\n'

In [3]:
def find_five_no():
    for i in range(9,0,-1):
        first=i
        second=i-2
        third=i-4
        fourth=i-6
        fifth=i-4
        if third+fourth+fifth==first:
            if (first+second+third+fourth+fifth)==19:
                return(int(str(first)+str(second)+str(third)+str(fourth)+str(fifth)))

In [4]:
find_five_no()

75313

In [5]:
pwd

'C:\\Users\\Dr. Rahul Chaudhary'

In [51]:
"""
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *
"""

'\n*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *\n'

In [52]:
def speed_catch(speed,birthday):
    if birthday:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>80:
        print('Big Ticket')
    elif new_speed>60:
        print('Small Ticket')
    else:
        print('No Ticket')

In [54]:
speed_catch(64,True)

No Ticket

In [55]:
speed_catch(76,True)

Small Ticket

In [56]:
"""
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
"""

"\nQuestion\nGiven a string print number num by extracting all the\ndigits from the string as in string\nPrint negative number if the first character in \nstring is '-'\n"

In [57]:
s=input("Enter the input")
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num=num+s[0]
for c in s:
    if c in str(a):
        num=num+c
print(num)

Enter the input-dhjcbn7655432cbshjc98876
-765543298876

In [58]:
"""
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse
"""

'\nWAP to check whether a number is palindrome or not on following conditions.\n1. take input number\n2. add number and its reverse\n3. check that number is palindrome or not,if not then sum and its reverse\n'

In [60]:
num1=input('Enter the Number: ')
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is: ", num3)
    print("Reverse is: ", num3[::-1])
print("Palindrome is: ",num3)

Enter the Number: 88
Number is:  847
Reverse is:  748
Number is:  1595
Reverse is:  5951
Number is:  7546
Reverse is:  6457
Number is:  14003
Reverse is:  30041
Number is:  44044
Reverse is:  44044
Palindrome is:  44044

In [61]:
"""
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19
"""

'\nWrite a python function to find and display the five \ndigit number in which the first digit is two more than \nthe second,the second digit is two more than the third,\nthe fourth digit is two less than the third, and the \nlast digit is two more than\nthe fourth.The sum of the third,fourth and fifth digits\nequals the first.The sum of all the digits is 19\n'

In [62]:
def find_five_no():
    for i in range(9,0,-1):
        first=i
        second=i-2
        third=i-4
        fourth=i-6
        fifth=i-4
        if third+fourth+fifth==first:
            if (first+second+third+fourth+fifth)==19:
                return(int(str(first)+str(second)+str(third)+str(fourth)+str(fifth)))

In [63]:
find_five_no()

75313